* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.site-wrapper {
  height: 100vh;
}

.site-header {
  box-shadow: 0px 0px 15px 2px rgb(98, 98, 98);
  padding: 1rem;
  margin: 0;
  color: white;
  background: rgba(181, 19, 19, 0.782);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 10rem auto 0 auto;
}

.logininput-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.login-btn {
  width: 80px;
  margin: 2rem auto;
}

.title-signout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-title {
  margin: 0;
  text-align: left;
}

.signout-container {
  margin-left: auto;
  cursor: pointer;
}

.fa-right-from-bracket {
  font-size: 25px;
}

.signout-text {
  margin: 0;
  font-size: .9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  background: rgb(158, 40, 40);
  border-radius: 8px;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-item:hover {
  background: rgb(208, 68, 68);
  color: white;
  font-weight: 600;
  margin: .2rem;
}

a:visited {
  color: white;
}

.nav-item {
  background: none;
  color: white;
  padding: .5rem;
  margin: .2rem;
  border-radius: 8px;
  font-size: 1rem;
  width: 30%;
}

.nav-item:visited {
  color: white;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.dash-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.dash-item-title {
  box-shadow: 0px 0px 5px 1px rgb(202, 202, 202);
  padding: 1rem;
  width: 80%;
  border-radius: 8px;
  margin-right: .5rem;
  background: rgb(208, 68, 68);
  color: white;
}

.income-preview,
.expenses-preview {
  box-shadow: 0px 0px 5px 1px rgb(202, 202, 202);
  margin: .5rem auto;
  width: 20%;
  padding: .75rem 1rem;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  background: rgb(208, 68, 68);
}

.income-preview:hover,
.expenses-preview:hover {
  text-decoration: none;
  background: rgb(158, 40, 40);
  color: white;
  font-weight: 400;
}

.profits-preview {
  box-shadow: 0px 0px 5px 1px rgb(202, 202, 202);
  width: 80%;
  margin: .5rem auto;
  padding: 1rem;
  border-radius: 8px;
}

/* income css */

.new-income-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  margin: .5rem auto;
}

.income-instance-container,
.expense-instance-container {
  width: 90%;
  margin: 0 auto;
  background: rgb(158, 40, 40);
  padding: 1rem;
}

.income-instance,
.expense-instance {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(208, 68, 68);
  margin: .5rem 0;
  color: white;
  align-items: center;
}

.income-provider,
.expense-provider {
  margin-right: auto;
  margin-left: 10px;
  font-size: .75rem;
}

.income-amount,
.expense-amount {
  margin-left: auto;
  margin-right: 10px;
  font-size: .75rem;
}
.income-service {
  font-size: .75rem;
  width: 5rem;

}