* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  padding: 36px 16px;
  background-color: #FFF7ED;
}

nav {
  margin-left: auto;
}

nav > a {
  margin: 0 1rem;
  text-decoration: none;
}

.home-link {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 900;
}

.hero-home {
  padding: 1rem;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%), url("./assets/homebackground.png"), lightgray 0px -65.191px / 100% 178.109% no-repeat;
}

.hero-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.find-van-btn {
  background: orange;
  border: none;
  color: white;
  border-radius: 6px;
  height: 2rem;
  width: 300px;
  font-size: 1rem;
  font-weight: 700;
}